body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #283955;
    color: white;

}

a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
}

a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;


}



h1 {
    color: #eed17f;
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1.5rem;
}

pre {
    font-size: 1.5rem;
}

article {
    background-color: white;
    color: black;

    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 2%;

    margin-bottom: 4%;

    border-radius: 20px;

}

article h2 {
    text-align: center;
}

article p {
    max-width: 80ch;
}

li {
    font-size: 1.5rem;

}

.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.border {
    border-color: black;
    border-width: 3px;
    border-style: solid;

    padding: 2px;
}

.exemple-tag-grid {
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    align-items: center;
}

.exemple-tag-grid h1{
    color: black;
}

.exemple-tag-grid a {
    color: blue;
}

.small-background {
    max-width: min-content;
    background-color: #283955;
    color: white;
    border-radius: 20px;

}

.small-background-fix {
    max-width: min-content;
    background-color: #283955;
    color: white;
    padding: 10px;
    border-radius: 20px;

}